<!-- top bar render interest pages -->

<div class="sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a class="blue-logo" href="/">Giphy Stumble</a>
          </h1>
        </li>
        <li class="toggle-topbar menu-icon">
          <a href="#">
            <span>Menu</span>
          </a>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li>
            <a class="button radius" id="interest-stumble">Stumble</a>
          </li>
          <li id="space"></li>
          <li>
            <a class="button radius" id="add-favorite"> <i class="fi-heart"></i>
            </a>
          </li>
          <% if current_user %>
          <li class="has-dropdown">
            <a class="right-a-height" href="#">
              <i class="fi-widget"></i>
            </a>
            <ul class="dropdown">
            <li><span id="white"><%= current_user.email %></span></li>
            <li><a href="#" data-reveal-id="instructions-modal">Instructions</a></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, :method =>:delete %></li>
            </ul>
          </li>
          <% else %>
          <li class="has-dropdown">
            <a href="#">Sign Up</a>
            <ul class="dropdown">
              <li>
                <a href="#" data-reveal-id="sign-in-modal">Sign In</a>
              </li>
              <li>
                <a href="#" data-reveal-id="sign-up-modal">New User</a>
              </li>
              <li>
                <a href="#" data-reveal-id="instructions-modal">Instructions</a>
              </li>
            </ul>
          </li>
          <% end %>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
        <li class="divider"></li>
          <% if current_user %>
          <li>
            <a href="/favorites">
              Favorites (
              <span id="favorite-count">
                <%=current_user.favorites.count %></span> )
            </a>
          </li>
          <% else %>
          <% end %>
          <% if current_user %>
          <li class="has-dropdown active">
            <a><span id="interest">Category</span></a>
            <ul class="dropdown" style="overflow-y:scroll;height:400px !important">
              <li class="active"><a href="#" data-reveal-id="new-category-modal">New Category</a></li>
                    <% @interests.order("interest ASC").each do |p| %>
                    <li><%=link_to p.interest.capitalize, interest_path(p.id) %></li>
                    <li class="divider"></li>
        <% end %>
         <li class="active"><a href="#" data-reveal-id="remove-category-modal">Manage Categories</a></li>
              <% end %>
              </ul>
          </li>
        </ul>
      </section>
    </nav>

    <!-- modal content -->

    <div id="sign-in-modal" class="reveal-modal" data-reveal>
      <div class="row">
        <%= render "login_forms/sign_in" %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>

    <div id="sign-up-modal" class="reveal-modal" data-reveal>
      <div class="row">
        <%= render "login_forms/sign_up" %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>
    <div id="new-category-modal" class="reveal-modal small" data-reveal>
      <div class="row">
        <%= render "interests/new" %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>

    <div id="remove-category-modal" class="reveal-modal tiny" data-reveal>
      <div class="row">
        <%= render "interests/delete" %>
        <a class="close-reveal-modal">&#215;</a>
      </div>
    </div>
    <div id="instructions-modal" class="reveal-modal" data-reveal> 
      <h2><span class="blue-logo">Intructions</span></h2>
        <br>
        <p>Title: Takes you back to the home page</p>
        <p>Favorites: View all your favorited GIFs</p>
        <p>Category: Tells you what category you are viewing</p>
        <p>Category dropdown: Create new category, view lots of GIFs of specific category, and manage existing categories</p>
        <p>Stumble: Takes you to a new random GIF</p>
        <p>Heart: adds current GIF to your favorites</p>
        <p>Hope you enjoy my app!</p>
  
        <a class="close-reveal-modal">&#215;</a>

    </div>
  </div>