<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Giphy Stumble" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' =>
  true %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" %>

  <%= csrf_meta_tags %></head>

<body>

<!-- I know this is ugly, but its better than having a ton of if statements in this page -->

<% if current_page?(favorites_path) %>
  <%= render "layouts/favoritesnav" %>

  <% elsif current_page?(root_path) %>
  <%= render "layouts/gifnav" %>
  <% else %>
    <%= render "layouts/interestnav" %>
<% end %>

  <%= yield %>
 
 <footer class="footer">
  <div class="row">
 
      <p id="white">By: Preston Straight
       <a class="space"></a>
        <a href="https://github.com/presto2116">GitHub </a>
        <a class="space"></a>
        <a href="https://www.linkedin.com/in/prestonstraight">LinkedIn </a>
        <a class="space"></a>
        <a href="https://www.facebook.com/preston.straight">Facebook </a>
        <a class="space"></a>
        
        <a href="https://twitter.com/presto2116">Twitter </a></p>
        
        

     
  
  </div>
</footer>

  </body>
</html>
