<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Giphy Stumble" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

    <%= csrf_meta_tags %>
  </head>

  <body>


<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Giphy Stumble</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      
      <li><a class="button" id="giphy-stumble">Stumble</a></li>
      <% if current_user %>
        <li><a class="button radius" id="add-favorite"><i class="fi-heart"></i></a></li>
      <% else %>
        <li><a class="button radius" id="signup-button"><i class="fi-heart"></i></a></form></li>

      <% end %>
      <% if current_user %>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
      <li class="has-dropdown">
        <a href="#">Log in/Sign up</a>
        <ul class="dropdown">
         <li><a href="" data-reveal-id="sign-in-modal">Login</a></li>
         <li><a href="" data-reveal-id="sign-up-modal">Signup</a></li>
        </ul>
      </li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <% if current_user %>
        <li><a href="/favorites">Favorites</a></li>
      <% else %>
        <li><a href="" data-reveal-id="sign-up-modal">Favorites</a></li>
      <% end %>
      <li><a href="/interests"><span id="interest">Category</span></a></li>
    </ul>
  </section>

</nav>

<!-- modal content -->

<div id="sign-in-modal" class="reveal-modal" data-reveal>
  <div class="row">
    <%= render "login_forms/sign_in" %>
    <a class="close-reveal-modal">&#215;</a>
  </div>
</div>

<div id="sign-up-modal" class="reveal-modal" data-reveal>
  <div class="row">
    <%= render "login_forms/sign_up" %>
     <a class="close-reveal-modal">&#215;</a>
  </div>
</div>

<main class="content row">

  <!-- Devise code  -->
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

    <%= yield %>

  </body>
</html>

