<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Giphy Stumble" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' =>
  true %>
  <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" %>

  <%= csrf_meta_tags %></head>

<body>


<% if current_page?(favorites_path) %>
  <%= render "layouts/favoritesnav" %>

  <% elsif current_page?(root_path) %>
  <%= render "layouts/gifnav" %>
  <% else %>
    <%= render "layouts/interestnav" %>
<% end %>

  <%= yield %>
  </body>
</html>
